%% Test edam profiles
%% Tests some various version constraints based on which profile
%^
%% included are following libs: dep dep-b-0.2.0 dep-b-0.3.0 dep-c-0.9.1
%%                              dep-c-1.0.0 dep-c-1.0.1
%%
%% The tests will resolve different top-level dependencies based
%% on the constraints put upon the children.

{application, edam, [
	{catalogs, [
		  "./test-libs/"
	]},

	%% Test: a) string format, b) child constraints, c) %multi-constraints vsn
	{dependencies, [
		 "dep >= 0.1.0"
		, {'dep-b', "0.2.0", [], []}
		, {'dep-c', {ge, "0.9.0"}, [{version, ne, "1.0.0"}], []}
	]}
]}.

%% Test specific profile
{application, edam, test, [
	{catalogs, ["./test-libs-profile"]},
	{dependencies, ["dep-b-0.3.0"]}
]}.
